.one-line{
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.fs16{font-size:16px;}
.fs18{font-size:18px;}
.ant-input:focus,
.ant-input-focused {
  border: none;
  box-shadow: none;
}
.hidden{display: none;}
#root .ant-input-affix-wrapper:focus,#root .ant-input-affix-wrapper-focused{
  box-shadow: none;
}
.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:active,
.ant-tabs-tab-remove:active{
  color: initial;
}
.load-global-skull .skull-view{
  background: -webkit-gradient(linear,left top,right top,color-stop(25%,#f2f2f2),color-stop(37%,#e6e6e6),color-stop(63%,#f2f2f2));
  background: linear-gradient(90deg,#f2f2f2 25%,#e6e6e6 37%,#f2f2f2 63%);
  background-size: 400% 100%;
  -webkit-animation: ant-skeleton-loading 1.4s ease infinite;
  animation: ant-skeleton-loading 1.4s ease infinite;
}
@keyframes ant-skeleton-loading{
  0%{
      background-position:100% 50%;
  }
  100% {
      background-position:0 50%;
  }
}
.align-right{text-align: right;}
.align-left{text-align: left;}
.fl{float: left;}
.fr{float: right;}
.form-item .ant-input-affix-wrapper{border:none;}
.one-line{
  overflow:hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}
.pretty-scroll-bar::-webkit-scrollbar {
  /*滚动条整体样式*/
  width : 0.52vw;  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.pretty-scroll-bar::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 0.52vw;
  box-shadow   : inset 0 0 0.26vw rgba(0, 0, 0, 0.2);
  background   : #535353;
}
.pretty-scroll-bar::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow   : inset 0 0 0.26vw rgba(0, 0, 0, 0.2);
  border-radius:  0.52vw;
  background   : #ededed;
}
.hover-op:hover::after{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color:rgba(0,0,0,.2);
}
.card-title{
    height: 58px;
    line-height: 58px;
    background: #666666;
    border-radius:16px 0px 0px 0px;
    padding: 0 24px;
}
.card-title>span{
    font-size: 18px;
    font-family: PingFang, PingFang-SC;
    font-weight: bold;
    color: #ffffff;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: hsla(0, 0%, 0%, 0.2);
}
.middle-wrap{
  width: var(--middle-width);
  margin:0 auto;
}