.page-wrap{
    text-align: center;
}
.page-item{
    width: 38px;
    text-align: center;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin: 0 3px;
    color: #333;
}
.page-btn{
    font-size: 10px;
    color: #666666;
    padding: 0 20px;
}
.page-item-wrap{
    display: inline-block;
    vertical-align: top;
}
.active{
    background: #4928DD;
    color: #FFFFFF;
}